<form class="w-75 mx-auto" method="post" action="{{ path('app_comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <button class="btn btn-danger"><i class="fa-solid fa-trash pe-2" style="color: #ffffff;"></i>Delete</button>
</form>
