{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
    <h1 class="text-center mt-3">Admin - all comments</h1>

<div class="table-responsive">
    <table class="table table-striped table-hover container">
        <thead class="sticky-top">
            <tr>
                <th scope="col">User</th>
                <th scope="col">Comment date</th>
                <th scope="col">Content</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for comment in comments %}
            <tr>
                <td>{{ comment.user }}</td>
                <td>{{ comment.commentDate ? comment.commentDate|date('d/m/Y') : '' }}</td>
                <td>{{ comment.content }}</td>
                <td>
                    <a class="btn btn-dark" href="{{ path('app_comment_edit', {'id': comment.id}) }}"><i class="fa-solid fa-pen" style="color: #ffffff;"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
