{% extends 'base.html.twig' %}

{% block title %}Edit Thread{% endblock %}

{% block body %}
    <h1 class='text-center fw-bold my-3'>Edit this thread</h1>

    {{ include('admin/thread/_form.html.twig', {'button_label': 'Update'}) }}
    {# {{ include('admin/thread/_delete_form.html.twig') }} #}


{% endblock %}
